@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
:root {
    --bgcolor: #ffe6a7;
    --font-color: black;
    --hover: #FFC107;
    --hoverheader:  #774936;
}
:root.darktheme {
    --bgcolor:black;
    --font-color: white;
    --hover: #FFC107;
    --hoverheader: #774936;
}
header {
    display: flex;
    justify-content: space-between;
    font-family: roboto;
    align-items: center;
       width: 100%;
    background-color: var(--bgcolor);
    padding: 20px;
    position:fixed;
    z-index: 1000;
    transition: 0.5s ease-in-out;
}
header ul {
    list-style: none;
    margin-right: 200px;
      
}
header li {
    display: inline-block;
}
header a {
    text-decoration: none;
    font-weight: 600;
    color: var(--font-color);
    transition: 0.5s ease-in-out;
}
header h1 {
    font-size: xx-large;
    font-family: nunito;
    font-weight: 800;
    cursor: pointer;
    text-transform: uppercase;
    margin-left: -180px;
    color: var(--font-color);
    transition: 0.5s ease-in-out;
}
header i {
    font-size: 3rem;
    color: var(--font-color);
    transition: 0.5s ease-in-out;
}
header li {
    margin-left: 20px;
    position: relative;
    margin-right: 20px;
    font-family: roboto;
    font-size: larger;
}
header li:after {
    content: "";
    width: 0px;
    height: 3px;
    border-radius: 30px ;
    background-color: var(--hoverheader);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s ease-in-out;
}
header li:hover::after {
    width: 100%;
    transition: 0.5s ease-in-out;
}
header h1:hover {
    color: var(--hoverheader);
    transition: 0.5s ease-in-out;
}
header i {
    cursor: pointer;
}
header i:hover {
    color: var(--hoverheader);

}
header a:hover {
    transition: 0.5s ease-in-out;
    color: var(--hoverheader);
}
#navbar {
    position: fixed;
    right: 0;
    transform: translateX(300px);
    transition: 0.5s ease-in-out;
    background-color: var(--bgcolor);
    z-index: 100;
    width: 250px;
    margin-top: 20px;
    height: 1080px;
}
#navbar.open {
transform: translateX(0px);
transition: 0.5s ease-in-out;
}
#navbar ul {
    list-style: none;
    margin-left: 50px;
    margin-right: 60px;
    margin-top: 150px;
}
#navbar a {
    text-decoration: none;
    color: var(--font-color);    
    transition: 0.5s ease-in-out;
}
#navbar li {
    font-size: x-large;
    font-family: roboto;
    font-weight: 600;
    margin-top: 50px;
    position: relative;
    cursor: pointer;
}
#navbar li {
    cursor: pointer;
}

#navbar li:after {
    position:absolute;
    content: "";
    width: 0px;
    height: 3px;
    background-color: var(--hover);
    border-radius: 30px;
    bottom: 0;
    left: 0;
    transition: 0.5s ease-in-out;
}
#navbar a:hover {
    color:#FFC107 ;
    transition: 0.5s ease-in-out;
}
#navbar li:first-child:hover::after {
    width: 155px;
    transition: 0.5s ease-in-out;
}
#navbar li:nth-child(even):hover::after {
    width: 120px;
    transition: 0.5s ease-in-out;
}
#navbar li:nth-child(3):hover:after {
    width: 75px;
    transition: 0.5s ease-in-out;
}
header i:nth-child(even) {
    font-size: 2rem;
    transition: 0.5s ease-in-out;
}
footer {
    display: flex;
    justify-content: center;
    height: 250px;
    align-items: center;
}
footer i {
    font-size: 3.5rem;
    margin-left: 40px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    margin-right: 40px;
    color: var(--hover);
    border-radius: 50%;
    border: 0px solid #FFC107;
}
footer i:hover {
 color: #ffc907e6;
 transition: 0.5s ease-in-out;
 scale: 1.1;
border: 2px solid #FFC107;
box-shadow: 0px 0px 20px #FFC107;
}
#trail {
    height: 30px;
    width:70px;
    border-radius: 30px;
    margin-top: 50px;
    margin-left: 40px;
    background-color: grey;
    cursor: pointer;
}
#ball {
    width: 25px;
    height: 25px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
margin-top: 2.5px;
 margin-left: 3px;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}
#ball.darktheme {
 margin-left: 39px;
 transition: 0.5s ease-in-out;
}
#navbar i {
    color: white;
}
body {
    background-color: var(--bgcolor);
    transition: 0.5s ease-in-out;
}
#shoppe {
    padding-top: 100px;
color: var(--font-color);
font-family: 'roboto';
}
#first, #second, #third {
    display: flex;
}
#first, #second, #third img {
    width: 400px;
    height: 400px;
}
#first, #second{
    margin-bottom: 40px;
}
#third {
    margin-bottom: 15px;
} 
#first img {
    margin-right: -950px;
    padding-top: 60px;
}

#third h1:hover::after {
width: 180px;
}
.text {
    padding: 100px;
}
.text p {
    font-weight: 650;
}
.text h1 {
color: var(--hover);
text-transform: uppercase;
position: relative;
}
.text:nth-child(even) {
margin-right: -975px;
margin-left: 75px;
margin-top: 50px;    
}
#second img {
    padding-left: 150px;
}
#second p {
margin-top: 20px;
}
#third p {
    margin-top: 20px;
}
#first button{
    background-color: var(--bgcolor);
    border: none;
    color: var(--font-color);
margin-left: 20px;
cursor: pointer ;
margin-top: 30px;
font-family: 'roboto';
font-size: 1.25rem;
font-weight: 900;
}
#second button {
    background-color: var(--bgcolor);
    border: none;
    color: var(--font-color);
margin-left: 20px;
cursor: pointer ;
margin-top: 30px;
font-family: 'roboto';
font-size: 1.25rem;
font-weight: 900;
    
}
#third button {
    background-color: var(--bgcolor);
    border: none;
    color: var(--font-color);
margin-left: 50px;
cursor: pointer ;
margin-top: 20px;
font-family: 'roboto';
font-size: 1.25rem;
font-weight: 900;

}
#first button:nth-child(odd) {
    border-radius: 30px;
    height: 50px;
    width: 90px;
    background-color: var(--hover);
    transition: 0.5s ease-in-out;
    text-transform: capitalize;
}
#second button:nth-child(odd) {
    border-radius: 30px;
    height: 50px;
    width: 90px;
    background-color: var(--hover);
    transition: 0.5s ease-in-out;
    text-transform: capitalize;
}
#third button:nth-child(odd) {
    border-radius: 30px;
    height: 50px;
    width: 90px;
    background-color: var(--hover);
    transition: 0.5s ease-in-out;
    text-transform: capitalize;
}
#first button:nth-child(odd):hover {
    background-color: #ff9500;
}
#second button:nth-child(odd):hover {
    background-color: #ff9500;
}
#third button:nth-child(odd):hover {
    background-color: #ff9500;
}
#first button:nth-child(even) {
    border-radius: 30px;
    background-color: var(--hover);
    height: 40px;
    width: 40px;
    transition: 0.5s ease-in-out;
}
#second button:nth-child(even) {
    border-radius: 30px;
    background-color: var(--hover);
    height: 40px;
    width: 40px;
    transition: 0.5s ease-in-out;    
}
#third button:nth-child(even) {
    border-radius: 30px;
    background-color: var(--hover);
    height: 40px;
    width: 40px;
    transition: 0.5s ease-in-out;    
}
#first i {
    font-size: 1.40rem;
    color: var(--font-color);
    transition: 0.5s ease-in-out;
}
#second i {
    font-size: 1.40rem;
    color: var(--font-color);
    transition: 0.5s ease-in-out;
}
#first button:nth-child(even):hover {
    background-color: #ff9500;
    transition: 0.5s ease-in-out;
}
#second button:nth-child(even):hover {
    background-color: #ff9500;
    transition: 0.5s ease-in-out;
}
.text h1::after {
    transition: 0.5s ease-in-out;
    content: "";
    position: absolute;
    bottom: 0;
    left:0;
    background-color: var(--hover);
    width: 0%;
    height: 3px;
    border-radius: 30px;
}
.text h1:first-child:hover::after {
    width: 200px;
}
#first p {
    margin-top: 20px;
}
#third img {
margin-right: 100px;
width: 450px;
height: 450px;
}
@keyframes scroll {
    from {
        opacity: 0.5;
        scale:0.5;
    }
    to {
        opacity: 1;
        scale:1;    
    }
}
#first, #second, #third {
    animation: scroll 5s linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}